*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: oklch(20.5% 0 none);
    background-color: oklch(92.2% 0 none);
}

main{
    flex: 1 1 0;   
}

header{
    display: flex;
    width: 100%;
    min-height: 15%;
    align-items: center;
    justify-content: space-between;
    padding: 1.6em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    background-color: oklch(92.2% 0 none);border-radius: 0.5em;
}


header img{
  max-width: 45%;
}

header nav a{
    margin: 0.5em;
    text-decoration: none;
    color: oklch(26.9% 0 none);
    font-size: 1.25em;
}
header nav a:hover{
    color: oklch(37.1% 0 none);
}

main{
    padding: 4em;
    display: flex;
    flex-flow: column;
    gap: 2.5em;
}
h2{
    font-size: 1.6em;
    margin-bottom: 0.2em;
}

h3{
    font-size: 1.3em;
}

section{
    display: flex;
    flex-flow: column;
    gap: 0.5em;
}

#home button{
    width: 15%;
    padding: 0.6em;
    border: none;
    border-radius: 0.8em;
    align-self: center;
    cursor: pointer;
    background-color: oklch(60.9% 0.126 221.723);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

#home button:hover, #contato button:hover{
    background-color: oklch(71.5% 0.143 215.221);
}


#sobre img{
    border-radius: 0.2em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 0.5em;
}

#sobre ul li{
    margin-bottom: 0.7em;
    align-content: center;
}

#sobre ul{
    margin: 0 1em;
    margin-bottom: 0.7em;
    display: flex;
    flex-flow: column;
    
}

#container{
    display: grid;
    gap: 2.2em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.card{
    display: flex;
    flex-flow: column;
    gap: 0.3em;
    border-radius: 1em;
    padding: 1em;
    font-size: 1.2em;
    background-color: oklch(52% 0.105 223.128);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#depoimentos{
    display: flex;
    flex-flow: column;
    gap: 1.1em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: oklch(97% 0 none);
}

#contato ul{
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1.1em;
}

#contato ul li{
    list-style: none;
}

#contato form{
    display: flex;
    flex-flow: column;
    gap: 0.4em;
}

#contato form input{
   width: 90%;
   height: 2.2em;
   padding: 1em;
   border-radius: 0.3em;
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
   border: none;
}

#contato form input:focus{
   outline: none;
}

#contato form button{
    width: 20%;
    padding: 0.7em;
    border: none;
    border-radius: 0.6em;
    background-color: oklch(60.9% 0.126 221.723);
    align-self: center;
    margin: 1em;
    cursor: pointer;
    font-size: 1em;
}

#footer{
    background-color: oklch(20.5% 0 none);
    color: oklch(37.1% 0 none);
    padding: 1.5em;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px){
    body, html{
        width: 100%;
        overflow-x: hidden;
    }
    img{
    max-width: 100%;
    height: auto;
  }
  button{
    width: auto;
    min-width: 150px;
    padding: 15px 20px;
    font-size: 1rem;
  }

  #container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    gap: 20px;
    width: 100%;
    overflow: hidden;
  }
  #servicos .card{
    width: 100%;
  }
}